@use "fonts" as f;
@use "variables" as v;
@use "sass:color";
@layer base {
:root {
    --spacing: #{v.$spacing};

    @each $name, $value in v.$colors {
        --#{$name}: #{$value};
        --#{$name}-hover: #{color.scale($value, $lightness: 20%)};
        
        $hue : color.channel($value, 'hue', hsl);
        $saturation : color.channel($value, 'saturation', hsl);
        $lightness : color.channel($value, 'lightness', hsl);

        $prevLightness: 0%;
        @each $suffix, $percent in v.$shades {
            @if($lightness > $prevLightness and $lightness <= $percent) {
                --#{$name}-#{$suffix}: #{hsl($hue, $saturation, $lightness)};
            }else{
                --#{$name}-#{$suffix}: #{hsl($hue, $saturation, $percent)};
            }
            
        }
    }

    
    @each $name, $value in v.$agnostic {
        --#{$name}: #{$value};
    }

    --bg-color : var(--white);
    --text-color : var(--black-hover);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --link-hover-color: var(--indigo);
}

body {
    font-family: f.$mainFont;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: var(--link-hover-color);
    }
}

button {
    all: unset;
}

img{
    max-width: 100%;
    height: auto;
}

.skip-link {
    position: absolute;
    top: -100%;
    left: 1rem;
    background: var(--indigo);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0 0 4px 4px;
    font-weight: 600;
    z-index: 9999;
    transition: top 0.1s;
    &:focus {
        top: 0;
    }
}

:focus-visible {
    outline: 3px solid var(--indigo);
    outline-offset: 3px;
}

}