@use "sass:color";
@use "sass:map";
//colors

$colors : (
    'blue': #0D6EFD,
    'gray': #6C757D,
    'red': #DC3545,
    'black': #000000,
    'white': #FFFFFF,
    'gray-light': #E5E5E5,
    'light-grey': #FAFAFA,  
    'text-color':#3F3F46
 
);


$shades: (
    950: 12%,
    900: 20%,
    800: 28%,
    700: 35%,
    600: 50%,
    500: 60%,
    400: 71%,
    300: 82%,
    200: 90%,
    100: 95%,
    50: 97%,
);

$agnostic: (
    'light-grey': map.get($colors, 'light-grey'),
    'primary': map.get($colors, 'blue'),
    'secondary': map.get($colors, 'gray'),
    'danger': map.get($colors, 'red'),
);

$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl' : 1400px
);

$spacing: 0.25rem;

