@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .spinner {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-top-color: var(--primary);
        border-left-color: var(--primary);
        border-bottom-color: var(--primary);
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
        &--sm {
            width: 1rem;
            height: 1rem;
            border-width: 2px;
        }

        &--lg {
            width: 3rem;
            height: 3rem;
            border-width: 4px;
        }

        @each $name, $color in v.$agnostic {
            &--#{$name} {
                border-top-color: var(--#{$name});
                border-bottom-color: var(--#{$name});
                border-left-color: var(--#{$name});
            }
        }
    }
}
