@use "css/partials/layers";
@use "./css/vendor/modern-normalize.css";
@use "css/partials/utilities" as utilities;
@use "css/partials/globals" as g;
@use "css/components/button" as button;
@use "css/components/container" as container;
@use "css/components/card" as card;
@use "css/components/banner" as banner;
@use "css/components/spinner" as spinner;
@use "css/components/menu" as menu;

@use "css/pages/login" as login;
@use "css/pages/dashboard" as dashboard;
@use "css/pages/error-page" as error-page;
@use "css/pages/users" as users;
@use "css/components/sidebar" as sidebar;