@use "partials/layers";
@use "vendor/modern-normalize.css";
@use "partials/utilities" as utilities;
@use "partials/globals" as g;
@use "components/button" as button;
@use "components/container" as container;
@use "components/card" as card;
@use "components/banner" as banner;
@use "components/spinner" as spinner;
@use "components/menu" as menu;
@use "components/footer" as footer;
@use "components/blog" as blog;
@use "components/article" as article;
@use "components/pagination" as pagination;