@use "../partials/variables" as v;
@use "../partials/functions" as f;
@use "../partials/globals" as g;
@use "sass:color";
@use "sass:map";

@layer components {
.banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    // width: f.rem(360);
    // height: f.rem(240);
    aspect-ratio: 240 / 360 ;

    @media (min-width: map.get(v.$breakpoints, 'sm')) {
        aspect-ratio: 500 / 210;
    }
    
    @media (min-width: map.get(v.$breakpoints, 'lg')) {
        aspect-ratio: 900 / 378;
    }
    
    &--text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: map.get(v.$colors, 'white');
        font-weight: 700;
        margin-block: 0;
        aspect-ratio: 240 / 360;
        padding: f.rem(16);
        
        @media (min-width: map.get(v.$breakpoints, 'sm')) {
            aspect-ratio: 500 / 210;
            padding: f.rem(24);
        }
        
        @media (min-width: map.get(v.$breakpoints, 'lg')) {
            aspect-ratio: 900 / 378;
            padding: f.rem(24);;
        }
    }

    &__title {
        margin: 0;
        color: map.get(v.$colors, 'white');
        font-weight: 700;
        
        
        font-size: f.rem(24);
        line-height: f.rem(36);
        letter-spacing: 0;
        
        @media (min-width: map.get(v.$breakpoints, 'sm')) {
            font-size: f.rem(24);
            line-height: f.rem(36);
            letter-spacing: 0;
        }
        
        @media (min-width: map.get(v.$breakpoints, 'lg')) {
            font-size: f.rem(48);
            line-height: f.rem(60);
            letter-spacing: 0;
        }
    }
}
}