
@use "../partials/variables" as v;
@use "../partials/functions" as f;
@use "sass:color";
@use "sass:map";
@layer components {
.button {
    font-size: 1rem;
    font-weight: 600;
    border-radius: f.rem(6);
    line-height: f.rem(18);
    text-decoration: none;
    display: inline-block;
    padding: f.rem(10) f.rem(16);
    background-color: var(--black);
    cursor: pointer;
    color: var(--white);
    transition: background-color 0.3s; 
    &:hover {
        background-color: var(--black-hover);
    }

    // Modificateurs de couleur
    @each $name, $color in v.$agnostic {
        &--#{$name} {
            background-color: $color;
            color: map.get(v.$colors, 'white');
            
            &:hover {
                background-color: color.adjust($color, $lightness: -10%);
            }
        }
    }

    // Modificateurs de taille
    &--lg {
        padding: f.rem(16) f.rem(32);
        font-size: f.rem(20);
    }

    &--sm {
        padding: f.rem(6) f.rem(12);
        font-size: f.rem(14);
    }
}
}