@use "../partials/variables" as v;
@layer components {
  .container {
    width: 100%;
    margin-inline: 2rem;
  
    @each $breakpoint, $size in v.$breakpoints {
      @media (min-width: $size) {
        @if $breakpoint == 'sm' {
          margin-inline: auto;
        }
        max-width: calc($size - 4rem);
        
      }
    }
  }
}