@use "sass:map";
@use "fonts" as f;
@use "variables" as v;
@use "sass:color";

@layer base {
:root {
    --spacing: #{v.$spacing};

    @each $name, $value in v.$colors {
        --#{$name}: #{$value};
        --#{$name}-hover: #{color.scale($value, $lightness: -20%)};
    }

    
    @each $name, $value in v.$agnostic {
        --#{$name}: #{$value};
    }

    --bg-color : var(--white);
    --text-color : var(--black-hover);
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: f.$mainFont;
    background-color: var(--bg-color);
    color: var(--text-color);
}
button {
    all: unset;
}

img{
    max-width: 100%;
    height: auto;
}


}