//colors
@use "sass:map";
$colors : (
    'blue': #0D6EFD,
    'gray': #6C757D,
    'red': #DC3545,
    'black': #000000,
    'white': #FFFFFF,
    'gray-light': #E5E5E5
);

$agnostic: (
    'primary': map.get($colors, 'blue'),
    'secondary': map.get($colors, 'gray'),
    'danger': map.get($colors, 'red'),
);

$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl' : 1400px
);

$spacing: 0.25rem;

