@use '../partials/functions' as f;
/* Flex center */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: f.rem(6);
}

