@use "sass:map";
@use "functions" as f;
@use "variables" as v;

@for $i from 1 through 6 { 
    .p-#{$i} { 
        padding : calc(#{$i} * var(--spacing)); 
    } 
}
@for $i from 1 through 6 { 
    .pt-#{$i} { 
        padding-top : calc(#{$i} * var(--spacing)); 
    } 
}
@for $i from 1 through 6 { 
    .pl-#{$i} { 
        padding-left : calc(#{$i} * var(--spacing)); 
    } 
}
@for $i from 1 through 6 { 
    .pr-#{$i} { 
        padding-right : calc(#{$i} * var(--spacing)); 
    } 
} 
@for $i from 1 through 6 { 
    .pb-#{$i} { 
        padding-bottom : calc(#{$i} * var(--spacing)); 
    } 
}
@for $i from 1 through 6 { 
    .m-#{$i} { 
        margin : calc(#{$i} * var(--spacing)); 
    } 
} 
@for $i from 1 through 6 { 
    .ml-#{$i} { 
        margin-left : calc(#{$i} * var(--spacing)); 
    } 
} 
@for $i from 1 through 6 { 
    .mt-#{$i} { 
        margin-top : calc(#{$i} * var(--spacing)); 
    } 
} 
@for $i from 1 through 6 { 
    .mr-#{$i} { 
        margin-right : calc(#{$i} * var(--spacing)); 
    } 
} 
@for $i from 1 through 6 { 
    .mb-#{$i} { 
        margin-bottom : calc(#{$i} * var(--spacing)); 
    } 
} 




